# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

# VS Code / editors
.vscode/
.idea/

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# mypy / type check
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Mac / Linux / Windows lixo de sistema
.DS_Store
Thumbs.db

# dotenv (variáveis de ambiente)
.env

# Arquivos temporários
*.swp
*.swo
